<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tarefas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='list_tasks_styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="actions-container">
            <h2>Tarefas</h2>
            <a href="{{ url_for('create_task') }}">Criar Tarefa</a>
            <div id="logout">
                <a href="{{ url_for('logout') }}">Sair</a>
            </div>      
            <div id="success-message" class="success-message hidden"></div>
        </div>
        <table id="tasks-table">
            <thead>
                <tr>
                    <td>#</td>
                    <td>Título</td>
                    <td>Tipo</td>
                    <td>Prioridade</td>
                    <td>Data de criação</td>
                    <td>Responsável</td>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr class="{% if user_name == task[5] %}orange-row{% endif %}">
                        <td><a href="{{ url_for('task_details', task_id=task[0]) }}">{{ task[0] }}</a></td> <!-- ID da tarefa como link -->
                        <td>{{ task[1] }}</td>
                        <td>{{ task[2] }}</td>
                        <td>{{ task[3] }}</td>
                        <td>{{ task[4] }}</td>
                        <td>{{ task[5] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            
        </table>
        
        <div id="pagination">
            {% if current_page > 1 %}
                <a href="{{ url_for('list_tasks', page=current_page-1) }}">‹ Anterior</a>
            {% endif %}
            {% if total_pages > 1 %}
                <a href="{{ url_for('list_tasks', page=1) }}">«</a>
            {% endif %}
            {% for page_number in range(1, total_pages+1) %}
                {% if total_tasks != 0 %}
                    <a href="{{ url_for('list_tasks', page=page_number) }}" class="{{ 'active' if page_number == current_page else '' }}">{{ page_number }}</a>
                {% endif %}
            {% endfor %}
            {% if total_pages > 1 %}
                <a href="{{ url_for('list_tasks', page=total_pages) }}">»</a>
            {% endif %}
            {% if current_page < total_pages %}
                <a href="{{ url_for('list_tasks', page=current_page+1) }}">Próximo ›</a>
            {% endif %}
        </div>  
        
    </div>
    <script src="{{ url_for('static', filename='tasks.js') }}"></script>
</body>
</html>
